header {
    margin-bottom: 10px;
    
    ul  {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row; 
        
        li {
            width: 85px;
            text-align: center;
            position: relative;
            a {
                @include nav-link-font;
            }
        }
        
        &.first-level {
            margin-left: 25px;
            padding: 0;
            display: none;
            a {
                position: relative;
            }
            & > li:hover > a:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $accent-color;
                bottom: -5px;
                left: 0;
            }
            li:hover > ul {
                display: flex;
            }
        }
        ul.second-level {
            position: absolute;
            width: 110px;
            background-color: #ffffff;
            left: -17px;
            top: 23px;
            padding-top: 20px;
            padding-bottom: 5px;
            box-sizing: border-box;
            display: none;
            
            li {
                text-align: left;
                padding-top: 2px;
                padding-bottom: 2px;
                position: relative;
                width: 100%;
                padding-left: 15px;
                box-sizing: border-box;

                &:hover {
                    & > a {
                        color: $accent-color;

                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        border-left-color: $main-color;
                        left: 5px;
                        top: 6px;

                    }
                }
            }
                
            
        }
        .third-level {
            position: absolute;
            width: 110px;
            background-color: #ffffff;
            left: 100%;
            top: -5px;
            padding-bottom: 5px;
            box-sizing: border-box;
            display: none;
            
    
        }
    }
    .main-nav {
        &-icon {
            width: 50px;
            height: 50px;
            border: 1px solid $main-color;
            position: relative;
            margin-left: 10px;
            cursor: pointer;
          

            &:not(.open) {
                background-color: $main-color;
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    background: linear-gradient(
                        to bottom,
                        white, white 15%,
                        transparent 16%, transparent 42.4%,
                        white 42.5%, white 57.5%,
                        transparent 57.6%, transparent 84%,
                        white 85%, white
                    );
                    width: 24px;
                    height: 20px;
                    top: calc(50% - 10px);
                    left: calc(50% - 12px);
                    
                }
            }
            &.open {
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 5px;
                    height: 17px;
                    background-color: $main-color;
                    transform: rotate(45deg);
                    top: 16px;
                    left: 22px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 5px;
                    height: 17px;
                    background-color: $main-color;
                    transform: rotate(-45deg);
                    top: 16px;
                    left: 22px;
                }
            }
            
           
        }
    }
    .main-nav-icon.open + .first-level {
        display: inline-flex;
    }

    .logo {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: calc(50% - 50px);
        z-index: 1;
    }
    .social-icons li:last-of-type {
        margin-right: 10px;
    }
}

